@charset "utf-8";



body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color:#333333;
	
}

h2 {
	margin: 0px;
	font-size: 1.75em;
}

#container {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}

header {
	height: 95px;
	width: 1024px;
	color: #FFF;
	background-color: #666;
	padding-top: 35px;
	padding-left: 35px;
}
#titleBar {
	height: 35px;
	width: 1024px;
	background-color: #ffcc00;
	text-align: center;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#topNav {
	height: 40px;
	width: 1024px;
	padding-top: 5px;
	padding-left: 15px;
	background-color: #FFF;
	text-align: center;
}

#topNav a {
	color: #333333;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	margin-right: 15px;
	padding-top: 10px;
}

#topNav a:hover {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}



#main {
	height: 443px;
	width: 1024px;
}
#innerMain {
	background-color: #ffcc00;
	height: 448px;
	width: 1024px;
}

#contentOne {
	width: 700px;
	float: left;
    margin-bottom:20px;
    height: 440px;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 170px;
}

div.desc {
    padding: 15px;
    text-align: center;
    height: 50px;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 21%;
    height: 265px;
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.instock_rim {
	display: inline-block;
	width: 150px;
	float: left;
    margin-left:20px;
	margin-top:30px;
}
#contentSideContact {
	float: right;
	height: 200px;
	width: 350px;
}

#contentContact {
	height: 170px;
	width: 557px;
	float: left;
}

#contentTwo {
	height: 365px;
	width: 277px;
	float: right;
	padding-top: 72px;
	overflow: hidden;
	background-color: #666;
	margin-left: 0px;
	color: #FFF;
}
footer #scoialmedia {
	background-color: #FFF;
	float: none;
	height: 40px;
	width: 1024px;
	border-bottom-style: solid;
	list-style-position: inside;
	list-style-image: url(../Icon/1490622673_YouTube-01.png);
	overflow: visible;
	visibility: visible;
	text-align: center;
	vertical-align: middle;
}
footer #bottomNav {
	text-align: center;
	width: 1009px;
	text-transform: none;
	height: 40px;
	padding-top: 10px;
	background-color: #FFF;
	padding-left: 15px;
}
footer #bottomNav a{
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 15px;
	padding-top: 10px;
}
footer #bottomNav a {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}




footer {
	height: 100px;
	width: 1024px;
	color: #FFF;
	text-decoration: none;
	background-color: #FFF;
}
footer #copyright {
	color: #000;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	text-transform: capitalize;
	text-decoration: none;
}
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
#map {
	height: 220px;
	width: 1000px;
	float: left;
	clear: none;
	margin: 20px 0px 0px 9px;
	
}
